<hh-auth-layout>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <div class="flex flex-col">
      <input pInputText id="email" type="text" formControlName="email" placeholder="email" [ngClass]="checkValidation('email') ? 'ng-invalid ng-dirty' : ''">
      <hh-form-error [controlInput]="formProps('email')"></hh-form-error>
    </div>
    <div class="flex flex-col">
      <p-password formControlName="password" placeholder="password" [feedback]="false" [toggleMask]="true"
          [ngClass]="checkValidation('password') ? 'ng-invalid ng-dirty' : ''"
      >
      </p-password>
      <hh-form-error [controlInput]="formProps('password')"></hh-form-error>
    </div>
    <div class="flex flex-col">
      <p-password formControlName="password" placeholder="repeat password" [feedback]="false" [toggleMask]="true"
                  [ngClass]="checkValidation('repeatPassword') ? 'ng-invalid ng-dirty' : ''"
      >
      </p-password>
      <hh-form-error [controlInput]="formProps('repeatPassword')"></hh-form-error>
    </div>
    <div class="flex flex-col">
      <input pInputText id="phone" type="text" formControlName="phone" placeholder="phone" [ngClass]="checkValidation('phone') ? 'ng-invalid ng-dirty' : ''" >
      <hh-form-error [controlInput]="formProps('phone')"></hh-form-error>
    </div>
    <div>
      <button pButton class="w-full">Zarejestruj</button>
    </div>
  </form>
</hh-auth-layout>
