<hh-main-layout>
<!--  <section class="h-full w-full outline outline-1 outline-gray-300 overflow-hidden">-->
<!--    <section>-->
    <!--    TODO: Delte fixed height-->
    <div class="border border-1 border-lime-300 h-[500px]">
      <hh-listing-filters />
    </div>
    <div class="pt-2">
      <!--          TODO: Show after applying filters - but idk how-->
      <!--          TODO: Tab link is not filling full space, so there is a "glitch", when you click outside the link, active tab changes but router is not working-->
      <div class="card">
        <p-tabmenu
          [model]="items"
          [activeItem]="activeItem"
        >
<!--                    (activeItemChange)="onActiveItemChange($event)"-->
          <ng-template pTemplate="item" let-item>
            <ng-container>
              <a [routerLink]="item.route" class="p-menuitem-link">
<!--                <span [class]="item.icon"></span>-->
<!--                <span class="ml-2">-->
                <span>
                  {{ item.label }}
                </span>
              </a>
            </ng-container>
          </ng-template>
        </p-tabmenu>
      </div>

      <router-outlet></router-outlet>
    </div>
<!--  </section>-->
</hh-main-layout>
