<!--TEMP LAYOUT-->
<hh-auth-layout>
<h1>Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
  <div class="flex flex-col">
    <!--    <label for="email">Email</label>-->
    <input id="email" type="text" formControlName="email" placeholder="email">
    <hh-input-error>
      @if (loginForm.controls.email.invalid && (loginForm.controls.email.touched || loginForm.controls.email.dirty)) {
      @if (loginForm.controls.email.errors?.["required"]) {
      <span>Email is required</span>
      } @else if (loginForm.controls.email.errors?.["email"]) {
      <span>Invalid email</span>
      }
      }
    </hh-input-error>
  </div>
  <div class="flex flex-col">
    <input id="password" type="text" formControlName="password" placeholder="password">
    <hh-input-error>
      @if (loginForm.controls.password.invalid && (loginForm.controls.password.touched || loginForm.controls.password.dirty)) {
      @if (loginForm.controls.password.errors?.["required"]) {
      <span>Password is required</span>
      }
      <!--      TODO: Add validation form server-->
      <!--      @else if (loginForm.controls.password.errors?.["password"]) {-->
      <!--          <span>Invalid password</span>-->
      <!--        }-->
      }
      </hh-input-error>
    </div>
    <div>
      <button class="w-full">Register</button>
    </div>
  </form>
</hh-auth-layout>
