<hh-auth-layout>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <div class="flex flex-col">
      <input pInputText id="email" type="text" formControlName="email" placeholder="email"
             [ngClass]="checkValidation('email') ? 'ng-invalid ng-dirty' : ''">
      <hh-form-error [controlInput]="formProps('email')"></hh-form-error>
    </div>
    <div class="flex flex-col">
      <p-password formControlName="password" placeholder="password" [feedback]="false" [toggleMask]="true"
                  [ngClass]="checkValidation('password') ? 'ng-invalid ng-dirty' : ''">
        >
      </p-password>
      <hh-form-error [controlInput]="formProps('password')"></hh-form-error>
    </div>
    <div>
      <button pButton class="w-full">Zaloguj się</button>
    </div>
  </form>
  <p-divider></p-divider>
  <a routerLink="/register" class="font-bold">Nie pamiętasz hasła?</a>
</hh-auth-layout>
