<div class="card py-4">
  <p-carousel
    [value]="products"
    [numVisible]="3"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-product pTemplate="item">
      <div class="border border-surface rounded-border m-2 p-4">
        <a href="#" class="block">
          <div class="mb-4">
            <div class="relative mx-auto">
              <img
                src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}"
                [alt]="product.name"
                class="w-full rounded-border" />
              <!--                            <p-tag-->
              <!--                                [value]="product.inventoryStatus"-->
              <!--                                class="absolute"-->
              <!--                                styleClass="dark:!bg-surface-900"-->
              <!--                                [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />-->
            </div>
          </div>
          <div class="mb-4 font-medium">
            {{ product.name }}
          </div>
        </a>
        <p-divider />
        <div class="flex justify-between items-center">
          <div class="mt-0 font-semibold text-xl">
            {{ product.price + "PLN" }}
          </div>
          <span>
              <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
          </span>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
