<!--TEMP LAYOUT-->
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
  <div class="flex flex-col">
    <label for="email">Email</label>
    <input id="email" type="text" formControlName="email">
  </div>
  <div class="flex flex-col">
    <label for="password">Repeat password</label>
    <input id="password" type="text" formControlName="password">
  </div>
  <div class="flex flex-col">
    <label for="repeatPassword">Password</label>
    <input id="repeatPassword" type="password" formControlName="repeatPassword">
  </div>
  <div class="flex flex-col">
    <label for="phone">Phone</label>
    <input id="phone" type="text" formControlName="phone">
  </div>
  <div>
    <button class="p-2 outline outline-1 w-full">Register</button>
  </div>
</form>
