.p-tabmenu-nav {
  background-color: #f4f4f5;
  padding: .25rem;
  border-radius: .5rem;
  width: max-content;
}

.auth .p-tabmenu-nav {
  width: 100%;
}

.p-tabmenuitem-active {
    background-color: white;
    border-radius: .5rem;
    border: unset;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 1px 3px 0, 0 1px 2px -1px;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.p-tabmenuitem {
    padding: 0 !important;
    border: unset;
}

.p-menuitem-link {
    padding: .15rem .75rem;
}

@media screen and (width <= 768px) {
  .p-tabmenu-nav {
    margin-inline: auto;
  }
}
